pyrogram
tgcrypto

pymongo[srv]
motor
dnspython
aiosqlite

requests
aiohttp

environs

GitPython

wheel
pygments
ffmpeg-python
Pillow>=9.0.0
pytube
click
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
